*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/build
# Uncomment this line if you wish to ignore the keystore file
# *.jks
